{{ define "main" }}
<article class="term">
  <div class="term__chrome" aria-hidden="true">
    <span class="term__dot term__dot--r"></span>
    <span class="term__dot term__dot--y"></span>
    <span class="term__dot term__dot--g"></span>
    <span class="term__title">ian@mkhlv:~</span>
  </div>

  <div class="term__body">
    <p class="term__cmd"><span class="term__prompt">$</span> cat ./404</p>
    <p class="term__bio">cat: ./404: No such file or directory</p>

    <p class="term__cmd"><span class="term__prompt">$</span> <a class="term__link" href="{{ "/" | relURL }}">cd ~</a></p>

    <p class="term__cmd"><span class="term__prompt">$</span> <span class="term__caret" aria-hidden="true"></span></p>
  </div>
</article>
{{ end }}
